.Table
    & .id
        min-width 35px
        flex-basis 35px

    & .location
        min-width 70px
        flex-basis 130px

    & .service
        min-width 90px
        flex-basis 185px
        word-break break-word
        hyphens auto

    & .uuid
        min-width 115px
        flex-basis 265px
        word-break break-word

    & .request
        min-width 75px
        flex-basis 75px

    & .payment_date
        min-width 86px
        flex-basis 140px

    & .slot_date
        min-width 86px
        flex-basis 140px

    & .answer_code
        min-width 60px
        flex-basis 90px
        text-align center

    & .service_message
        min-width 91px
        flex-basis 165px
